<html>
<head>
	<title>Gothons of planet percal #25</title>
</head>
  <body>
    <% if greeting %>
    <p>I just wanted to say <em style = "color: green; font-size: 2em;"> <%= greeting %> </p>
    <% else %>
      <em>Hello</em>, world!
      <% end %>
  </body>
</html>